/*PAGE CONTACT*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
.tete {
    display: flex;
    flex-direction:inherit;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.996);
    padding: 30px;
    color: #06810e;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
    box-shadow: 0 4px 15px rgba(18, 213, 21, 0.5);
    margin-left: 20%;
    font-family: "Funnel Sans", serif;
   
}
.lo{
    margin-top:-30px;
}
.toute{
    margin-left: -15%;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 100%; /* La navbar occupe toute la hauteur */
    width: 100px; /* Largeur de la navbar */
    position: fixed; /* La navbar reste fixée sur le côté gauche */
    top: 0;
    left: 0;
    padding-top: 20px; /* Espacement en haut */
    background-color: #CEE08F;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet stylé */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    flex-direction: row;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 70px 0;
   
    li {
        padding: 50px 20px 0px 0px;
        list-style: none;
        text-decoration: none;
    }
}

/*page*/
.pageprincipal{
    display: flex;
    padding: 30px 0px 30px 50px;
    gap: 60px;
    margin: 5% 10% 0% 30%;
    background-color: #f8ecde;  
}
.phrase{
    color: #000000;
    padding-top: 100px;
    font-size: 12px;
    font-family: "Funnel Sans", serif;
}
.barre{
    border: solid #ffffff;
    background: #ffffff;
    color: #ffffff;
    height: 415px;
    width: 1px;
}
.contact{
    display: flex;
    flex-direction: column;
}
#civilité0{
    border: solid 3px #ffffff;
    background-color: #f8ecde;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
.mail{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
input{
    border: solid 1px #ffffff;
    width: 230px;
}
#message{
    border: solid 1px #ffffff;
}
.send{
    border: solid 3px #ffffff;
    background-color: #f8ecde;
    padding: 5px 50px 5px 50px;
    font-family: "Funnel Sans", serif;
    font-size: 13px;
}

/*footer*/
.basdepage{
    display: flex;
}
.basdepage2{
    display: flex;
    gap: 90px;
    margin: 50px 0px 0px 30%;
    padding: 40px 0px 40px 0px;
}
.gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.navigation{
    text-align:right;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.li2{
    list-style-type: none;
    font-family: "Funnel Sans", serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carré{
    border: solid #CEE08F;
    background-color: #CEE08F;;
    padding: 58px 140px 55px 140px;
    display: flex;
    flex-direction: column;
}
.images{
    width: 50vh;
    height: 25vh;
}
.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
    text-align: center;
    font-size: 20px;
    font-family: "Funnel Sans", serif;
}
.petitcarré{
    border: solid rgb(255, 255, 255);
    margin-top: 25px;
    padding: 5px 60px 5px 60px;
}
.phrase2{
    font-size: 14px;
    font-family: "Funnel Sans", serif;
}
h6{
    font-size: small;
}
.regarder{
    text-decoration: none;
    color: black;
}
.coordonnées{
    font-size: 15px;
    font-family: "Funnel Sans", serif;
}
.coordonnées2{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
/*MEDIA QUERIES PAGE CONTACT*/
@media (min-width: 400px) and (max-width: 1000px){
    .tete {
        padding: 0px !important;
        margin-left: 25% !important;
        margin-right: 0% !important;
    }
    .navbar{
        height: 100% !important;
        width: 60px !important;
        position: fixed !important;
    }
    .nav-links{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin-left: 70px 0;
    
        li {
            padding-right: 20px;
            padding-top: 50px;
            list-style: none;
            text-decoration: none;
        }
    }
    .pageprincipal{
        margin: 10% 9% 0% 35% ;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .phrase{
        padding-top: 10px;
    }
    .barre{
        display: contents;
    }
    .contact{
        display: flex;
        flex-direction: column;
        padding-right: 50px;
    }
    .input{
        padding-right: 50px !important;
        width: auto;
        height: 25px;
    }
    .send{
        padding-right: 50px !important;
        width: auto;
    }
}

/*MEDIA QUERIES PAGE CONTACT*/
@media (min-width: 600px) and (max-width: 700px){
    .tete {
        padding: 0px !important;
        margin-left: 22% !important;
        margin-right: 0% !important;
    }
    .phrase{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 700px) and (max-width: 800px){
    .tete {
        padding: 0px !important;
        margin-left: 20% !important;
        margin-right: 0% !important;
    }
    .phrase{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 800px) and (max-width: 900px){
    .tete {
        padding: 0px !important;
        margin-left: 18% !important;
        margin-right: 0% !important;
    }
    .phrase{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 900px) and (max-width: 1000px){
    .tete {
        padding: 0px !important;
        margin-left: 16% !important;
        margin-right: 0% !important;
    }
    .phrase{
        display: flex;
        justify-content: center;
    }
}

/*PAGE A PROPOS*/
.description{
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 120px;
    padding: 20px 10px 20px 20px;
    background-color: #f8ecde;
}
.titreee{
    font-family: "Onest", serif;
    font-size: 20px;
}
.présentation{
    margin-top: 12px;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
.description2{
    margin-top: 50px;
    margin-left: 380px;
    margin-right: 110px;
    padding: 20px 10px 20px 20px;
}
.emilie{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.emilie2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.emilie3{
    font-size: 12px;
    font-family: "Funnel Sans", serif;
}
.imageemilie1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageemilie2{
    width: 140px;
    height: 180px;
    border-radius: 70px
}
.raoul{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.raoul2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.raoul3{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
.imageraoul1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageraoul2{
    width: 140px;
    height: 180px;
    border-radius: 70px;
}
.ennys{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.ennys2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.ennys3{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
.imageennys1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageennys2{
    width: 140px;
    height: 180px;
    border-radius: 70px
}

/*MEDIA QUERIES PAGE A PROPOS*/
@media (min-width: 400px) and (max-width: 600px){
    .tete{
        padding: 0px;
        margin-left: 25%;
        margin-right: 0%;
    }
    .navbar{
        height: 100% !important;  
        width: 60px !important; 
        position: fixed !important;
    }
    .description{
        margin-top: 60px !important;
        margin-left: 150px !important;
        margin-right: 30px !important;
    }
    .description2{
        margin-top: 40px !important;
        margin-left: 130px !important;
        margin-right: 20px !important;
    }
    .emilie{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .raoul{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .ennys{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .basdepage2{
        margin-top: 10px !important;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .tete{
        margin-left: 22%;
    }
    .navbar{
        height: 100% !important;  
        width: 60px !important; 
        position: fixed !important;
    }
    .description{
        margin-left: 180px !important;
        margin-right: 30px !important;
    }
    .description2{
        margin-top: 40px !important;
        margin-left: 160px !important;
        margin-right: 20px !important;
    }
    .emilie{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .raoul{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .ennys{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .basdepage2{
        margin-top: 10px !important;
    }
}

@media (min-width: 700px) and (max-width: 800px){
    .tete{
        margin-left: 20%;
    }
    .navbar{
        height: 100% !important;  
        width: 60px !important; 
        position: fixed !important;
    }
    .description{
        margin-left: 195px !important;
        margin-right: 35px !important;
    }
    .description2{
        margin-top: 40px !important;
        margin-left: 175px !important;
        margin-right: 25px !important;
    }
    .emilie{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .raoul{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .ennys{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .basdepage2{
        margin-top: 10px !important;
    }
}

@media (min-width: 800px) and (max-width:900px){
    .tete{
        margin-left: 20%;
    }
    .navbar{
        height: 100% !important;  
        width: 60px !important; 
        position: fixed !important;
    }
    .description{
        margin-left: 210px !important;
        margin-right: 32px !important
    }
    .description2{
        margin-top: 40px !important;
        margin-left: 190px !important;
        margin-right: 20px !important;
    }
    .emilie{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .raoul{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .ennys{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .basdepage2{
        margin-top: 10px !important;
    }
}