/*PAGE CONTACT*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
    text-decoration: none;
    list-style: none;
}

.page {
    margin-left: -20%;
}
.t{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.lo{
    margin-top:-30px;
    margin-left: 5%;
    
}
.ut{
    margin-top:-10px;
    display: flex;
    justify-content: end;
    margin-left: 10%;
}
.shop{
    margin-top:-10px;
    margin-left: 10%;
}

.tete {
    display: flex;
    flex-direction:inherit;
    justify-content: center;
    padding: 30px;
    color: rgb(6, 129, 14);
    height: 30vh;
    
    

}

.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 110%; /* La navbar occupe toute la hauteur */
    width: 100px; /* Largeur de la navbar */
    position: fixed; /* La navbar reste fixée sur le côté gauche */
    top: 0;
    left: 0;
    padding-top: 20px; /* Espacement en haut */
    background-color: #CEE08F;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet stylé */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    flex-direction: row;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 70px 0;
    font-size: larger;
    li {
        padding-right: 20px;
        padding-top: 50px;
        list-style: none;
        text-decoration: none;
    }
}

/*page*/
.pageprincipal{
    display: flex;
    padding: 30px 0px 30px 50px;
    gap: 60px;
    margin-left: 30%;
    margin-right: 10%;
    background-color: #f8ecde;
    margin-top: 5%;
}
.phrase{
    color: #000000;
    padding-top: 100px;
    font-size: 12px;
    font-family: "Funnel Sans", serif;
}
.barre{
    border: solid #ffffff;
    background: #ffffff;
    color: #ffffff;
    height: 415px;
    width: 1px;
}
.contact{
    display: flex;
    flex-direction: column;
}
#civilité0{
    border: solid 3px #ffffff;
    background-color: #f8ecde;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
.mail{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
input{
    border: solid 1px #ffffff;
    width: 230px;
}
#message{
    border: solid 1px #ffffff;
}
.send{
    border: solid 3px #ffffff;
    background-color: #f8ecde;
    padding: 5px 50px 5px 50px;
    font-family: "Funnel Sans", serif;
    font-size: 13px;
}

/*footer*/
.basdepage{
    display: flex;
}
.basdepage2{
    display: flex;
    gap: 90px;
    margin-left: 30%;
    margin-top: 50px;
    padding: 40px 0px 40px 0px;
}
.gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links2{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.navigation{
    text-align:right;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.li2{
    list-style-type: none;
    font-family: "Funnel Sans", serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carré{
    border: solid #CEE08F;
    background-color: #CEE08F;;
    padding: 58px 140px 55px 140px;
    display: flex;
    flex-direction: column;
}
.images{
    width: 50vh;
    height: 25vh;
}
.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
    text-align: center;
    font-size: 20px;
    font-family: "Funnel Sans", serif;
}
.petitcarré{
    border: solid rgb(255, 255, 255);
    margin-top: 25px;
    padding: 5px 60px 5px 60px;
}
.phrase2{
    font-size: 14px;
    font-family: "Funnel Sans", serif;
}
h6{
    font-size: small;
}
.regarder{
    text-decoration: none;
    color: black;
}
.coordonnées{
    font-size: 15px;
    font-family: "Funnel Sans", serif;
}
.coordonnées2{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
.fo{
    display: none;
}
/*MEDIA QUERIES a propos*/
@media (min-width: 410px) and (max-width: 1000px){

    
    .page{
        margin-left: -10%;
    }
    .navbar{
        height: 100% !important;  
        width: 60px !important; 
        position: fixed !important;
        font-size: xx-large;
    }
    
    .description{
        margin-top: 60px !important;
        margin-left: 150px !important;
        margin-right: 30px !important;
        width: 550px;
    }
    .description2{
        margin-top: 40px !important;
        margin-left: 130px !important;
        margin-right: 20px !important;
        width: 600px;
    }
    .emilie{
        flex-direction: column;
        margin-bottom: 30px;
        padding: 20 px;
        
    }
    .raoul{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .ennys{
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .tete{
        display: none;
    }
    
    
    .nav-links{ font-size: 30px;
        
    }
    footer h1{
        color: rgb(6, 129, 14);
        list-style: none;
        text-decoration: none;
        margin-left: 50%;
        
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        color: rgb(6, 129, 14);
        gap: 10%;
        margin-left: 30%;
        
    }
}




/*PAGE A PROPOS*/
.description{
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 120px;
    padding: 20px 10px 20px 20px;
    background-color: #f8ecde;
}
.titreee{
    font-family: "Onest", serif;
    font-size: 20px;
}
.présentation{
    margin-top: 12px;
    font-size: 13px;
    font-family: "Funnel Sans", serif;
}
.description2{
    margin-top: 50px;
    margin-left: 380px;
    margin-right: 110px;
    padding: 20px 10px 20px 20px;
}
.emilie{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.emilie2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.emilie3{
    font-size: 12px;
    font-family: "Funnel Sans", serif;
}
.imageemilie1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageemilie2{
    width: 140px;
    height: 180px;
    border-radius: 70px
}
.raoul{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.raoul2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.raoul3{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
.imageraoul1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageraoul2{
    width: 140px;
    height: 180px;
    border-radius: 70px;
}
.ennys{
    border: solid 5px #CEE08F;;
    padding: 20px 10px 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.ennys2{
    margin-top: 10px;
    font-family: "Funnel Sans", serif;
    font-size: 15px;
}
.ennys3{
    font-family: "Funnel Sans", serif;
    font-size: 12px;
}
.imageennys1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageennys2{
    width: 140px;
    height: 180px;
    border-radius: 70px
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8ecde;
    padding: 30px;
    color: rgb(6, 129, 14);
    gap: 10%;
    margin-left: 0%;
    background-color:rgba(255, 255, 255, 0.996);
    
}
footer h1{
    color: rgb(6, 129, 14);
    list-style: none;
    text-decoration: none;
}
