*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
.navbar{
    display: flex;
    flex-direction: column; /* Aligner les liens verticalement */
    justify-content: flex-start;
    align-items: flex-start; /* Aligner les éléments à gauche */
    height: 100%; /* La navbar occupe toute la hauteur */
    width: 250px; /* Largeur de la navbar */
    position: fixed; /* La navbar reste fixée sur le côté gauche */
    top: 0;
    left: 0;
    padding-top: 20px; /* Espacement en haut */
    background-color: #CEE08F;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet stylé */
}
.nav-links{
    float: right;
    margin-right: 20px;
}
.li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: "Onest", serif;
}
nav ul li a{
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
    margin-right: 70px;
}

/*page*/
.pageprincipal{
    display: flex;
    padding: 30px 0px 30px 50px;
    gap: 50px;
    margin-left: 250px;
    background-color: #CEE08F;
}
.phrase{
    color: #000000;
    padding-top: 100px;
    font-size: 14px;
    font-family: "Onest", serif;
}
.barre{
    border: solid #ffffff;
    background: #ffffff;
    color: #ffffff;
    height: 415px;
    width: 1px;
}
.contact{
    display: flex;
    flex-direction: column;
}
#civilité0{
    border: solid 3px #ffffff;
    background-color: #f6d5e1;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: "Onest", serif;
}
.mail{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Onest", serif;
}
input{
    border: solid 1px #ffffff;
    width: 200px;
}
#message{
    border: solid 1px #ffffff;
}
.send{
    border: solid 3px #ffffff;
    background-color: #f6d5e1;
    padding: 5px 50px 5px 50px;
}

/*footer*/
.basdepage{
    display: flex;
    justify-content: center;
    margin-left: 250px;
}
.basdepage2{
    display: flex;
    gap: 90px;
    padding: 40px 0px 40px 0px;
}
.gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links2{ 
    display: flex;
    flex-direction: column;
    align-items:end;
    font-size: 14px;
    font-family: "Onest", serif;
}
.navigation{
    text-align:right;
    font-size: 15px;
    margin-left: 10%;
    font-family: "Onest", serif;
}
.li2{
    list-style-type: none;
    font-size: 13px;
    font-family: "Onest", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.carré{
    border: solid #CEE08F;
    background-color: #CEE08F;;
    padding: 58px 140px 55px 140px;
    display: flex;
    flex-direction: column;
}
.images{
    width: 50vh;
    height: 25vh;
}
.droite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
    text-align: center;
    font-size: 20px;
    font-family: "Onest", serif;
}
.petitcarré{
    border: solid rgb(255, 255, 255);
    margin-top: 25px;
    padding: 5px 60px 5px 60px;
}
.phrase2{
    font-size: 14px;
    font-family: "Onest", serif;
}
h6{
    font-size: small;
}
.regarder{
    text-decoration: none;
    color: black;
}
.coordonnées2{
    font-size: small;
    font-size: 13px;
    font-family: "Onest", serif;
}