

*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: century;
}

.tete {
    display: flex;
    flex-direction:inherit;
    background-color:rgba(255, 255, 255, 0.996);
    padding: 30px;
    color: rgb(6, 129, 14);
    border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
    border-radius: 30px; /* Coins arrondis */
    box-shadow: 0 4px 15px rgba(18, 213, 21, 0.5);
    margin-left: 90px;
    
}
.lo{
    margin-top:-30px;
}

nav {
    display: flex;
    flex-direction: column; /* Aligner les liens verticalement */
    justify-content:space-around;
    align-items: flex-start; /* Aligner les éléments à gauche */
    height: 100%; /* La navbar occupe toute la hauteur */
    width: 100px; /* Largeur de la navbar */
    position: fixed; /* La navbar reste fixée sur le côté gauche */
    top: 0;
    left: 0;
    padding-top: 20px; /* Espacement en haut */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet stylé */
    background-color: rgba(128, 255, 0, 0.227);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    
    

}

div{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Pacifico';
    
}

ul{
    list-style: none;
}

    

.nav-links{
    display: flex;
    justify-content:ev;
}


.photo{
    display: inline-grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-top:150px;
}
.photo2{
    display: inline-grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-top:150px;
}
.photo3{
    display: inline-grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-top:150px;
}
.photo4{
    display: inline-grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-top:150px;
}



.basdepage{
    display: flex;
    justify-content: center;
    margin-top:4cap;
}
.basdepage2{
    display: flex;
    align-items: center;
    gap: 100px;
}

h{ display: flex;
justify-content: center;

font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;}
.li2{
    list-style-type: none;
}

.titre{
    font-size: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1em;
}

.carré {
    
    display: flex;
    flex-direction: column;
    
}
.petitcarré{
    border: solid #ff0026;
    display: flex;
    padding: 0px 20px 0px 0px;
    justify-items: center;
    align-items: center;
   
}

.phrase2{
    display: flex;
    padding: 0px 60px 0px 0px;
    justify-items: center;
    align-items: center;
}
.droite{
    display: flex;
    justify-content: end;
    margin-right: 0%;
    
}